/*--------------------------------------------------*/
/*UNIVERSAL TAGS*/
html{
  font-size: 16px;
  align-content: center;
  justify-content: center;
}
body{
  align-items: center;
 justify-content: center;
 border: 3px solid blue;
}
/*--------------------------------------------------*/
/*HEADER TAGS*/
header{
  display: inline-flex;
  background-color:black;
  align-items: center;
  Height: 7rem;
  width:100%;
  padding-left: 10rem;

}
img {
  padding-right: 15px;
  align-content: center;
  height: 40px;
  width: auto;
  margin: 0;

}
.logo{
  display: inline-flex;
  align-items: center;

}
h3{
  color: white;

}
h1{
  color: white;

}
/*--------------------------------------------------*/
/*TOP IMAGE TAGS*/
.topimage{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 700px;
  width: auto;
  position: relative;
 border: 1px solid blue;
}
.pagehead{
  display:inline-block;
  height: 200px;
  width: 300px;
  background-color: black;
  border: 4px solid blue;
  position: absolute;
}

/*--------------------------------------------------*/
/*MIDDLE TAGS*/
ul{
  display:inline-flex;
  background-color: red;
  align-items: stretch;
  list-style-type: none;
  text-decoration: underline;
  width: 100%;
  height: 70px;
  margin: 0;
}
li{
  display: inline-block;
  font-size: 32px;
  padding:20px;
  font-weight: bold;
}

/*--------------------------------------------------*/
/*BOTTOM TAGS*/
.items {
    display: inline-block;
    margin-bottom: 50px;
    font-weight: bold;
}

img {
    display: block;
    height: 200px;
    width: 300px;
    margin: 10px;
    padding-left: 10px;
}
.image{
  display:flex;
}

/*--------------------------------------------------*/
/*FOOTER*/
footer {
  height: 200px;
  width: 100%;
  background: black;
}
.copywrite {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 30px;
  color: white;
}
